.container {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}

#list-length {
  font-size: 1rem;
  color: rgb(140, 140, 140);
}

#movies-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-basis: 150px;
  flex-grow: 1;
}

#movies-container > movie-box {
  flex-basis: 150px;
}

#stats-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 0px;
}

.stat {
  width: 100%;
}

.stat-title {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.double-stat {
  display: flex;
  width: 100%;
  gap: 20px;
}

.double-stat .stat {
  flex: 0.5;
}

#delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#delete-btn:hover {
  border-color: red;
}

.delete-modal-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  text-align: center;
}

.delete-modal-container p {
  margin: 20px 0px;
}

.export-modal-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.export-buttons {
  display: flex;
  gap: 10px;
}

.export-buttons button {
  width: 100%;
}

.export-buttons button:nth-child(1) {
  margin-right: 20px;
}
