body{
  line-height: 1.2;
  font-family: var(--rubik);
  overflow-x: hidden;
}

.content-container {
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

@media only screen and (max-width: 1052px) {
  .content-container {
    flex-direction: column;
    padding: 30px;
  }
  .poster{
    justify-content:start ;
  }
  .body{
    overflow-x: hidden;
  }
  .info-text{
    margin-bottom: 1rem;
  }
  .text-label{
    align-items: initial !important;
  }
}

.poster {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: row;
}

.poster img {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 300px;
  border-radius: 20px;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  color: white;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.movie-info{
  display: flex;
  justify-content: flex-start;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.mini-stats {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.mini-stats li {
  font-size: 16px;
  color: #999;
  margin-right: 10px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rating-text {
  font-size: 1.2rem;
  margin: 0;
}

.star-icon {
  max-width: 50px;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.description {
  display: flex;
  justify-content: start;
  padding-top: 1rem;
  font-size: 18px;
  text-align: justify;
}

.related-movies{
  display: flex;
  flex-direction: column;
}

.related-movies-gallery {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.related-movies-poster {
  max-width: 200px;
  padding: 1rem;
  padding-left: 0;
  border-radius: 20px;
  cursor: pointer;
}

.short-details {
  padding: 1rem;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
}

.short-details{
  display: flex;
  flex-direction: column;
}

.info{
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.text-label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.info-text{
  background-color: rgb(26, 25, 25);
  color: rgb(124, 123, 123);
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 0.3rem;
}

.trailer{
  display: flex;
  flex-direction: column;
}

.trailer-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.trailer-frame{
  position: absolute;
  width: 100%;
  height: 100%;
}

h3{
  padding: 1rem;
  padding-left: 0;
}

.related-movies-gallery::-webkit-scrollbar {
  width: 10%;
}
.related-movies-gallery::-webkit-scrollbar-track {
  background-color: black;
}
.related-movies-gallery::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 4px;
}
.related-movies-gallery::-webkit-scrollbar-thumb:hover {
  background-color: #ae8406;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}