body {
  overflow: auto;
}

.main-container {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  font-family: var(--rubik);
  color: aliceblue;
}

.title {
  margin: 40px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.lists {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.list-container {
  display: flex;
  justify-content: center;
}

