@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

/* todo: add color variables */
:root {

}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 14%, rgba(10,10,10,1) 100%);
  /* todo: fix font */
  font-family: Rubik, sans-serif;
}

/* todo: fix input scaling */
#search-bar {
  box-sizing: border-box;
  max-width: 95%;
  width: 750px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-image: url('./assets/beesearch.png');
  font-size: 1.2em;
  padding: 14px 20px 12px 20px;
  border-bottom: 1px solid #ddd;
  background-color: black;
  border: 2px solid #FFC107;
  border-radius: 10px;
  outline: none;
  color: #FFC107;
  transition: 0.2s ease all;
}

#search-bar::placeholder {
  color: #999;
}

#search-bar:focus {
  background-color: #101010;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  font-size: 64px;
  background: -webkit-linear-gradient(rgb(233, 176, 20), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-icon {
  width: 70px;
  height: auto;
  transition: 0.3s ease all;
  cursor: pointer;
}

.search-icon:hover {
  transform: scale(1.2) rotate(-15deg);
}


.text{
  opacity: 0;
  animation:appear 1s ease-in forwards;
  animation-delay: 0.5s;
}
@keyframes appear {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

h1{
  font-size: 4.5rem;
  background: -webkit-linear-gradient(rgb(233, 176, 20), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#back{
  font-size: 2.5rem;
  text-decoration: none;
  background: -webkit-linear-gradient(rgb(233, 176, 20), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  font-size: 2.5rem;
  color: #E0E0E0;
}
h3{
  font-size: 2.5rem;
  color: #E0E0E0;
}

.errorbody{
  text-align: center;
}

#bee{
  transform: translateY(750px);
   
  animation: launch 0.9s ease-out forwards;
  width: 300px;
  height: auto;
}
@keyframes launch {
  from {
      transform: translateY(750px);
  }
  to{
      perspective: 500px;
      transform: translateY(0px); 
  }
}