<!DOCTYPE html>
<html>
  <head>
    <title>Page not found</title>
    <link href="./static/styles/style.css" rel="stylesheet" />
    <link href="./static/styles/404.css" rel="stylesheet" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="container">
      <div>
        <img src="./static/assets/beesearch.png" alt="bee" class="bee-img" />
      </div>
      <h1 class="title">404 Error</h1>
      <h2 class="sub-title">Couldn't fly :(</h2>
      <h3 class="content">
        Page Not Found - lets take you
        <a href="./views/index.html" class="back-btn">BACK</a>
      </h3>
    </div>
  </body>
</html>
