<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/style.css" rel="stylesheet" />
    <link href="./styles/movie.css" rel="stylesheet" />
    <title id="movie-title"></title>
  </head>
  <body>
    <div class="content-container">
      <div class="poster">
        <img id="poster" alt="poster-img" class="poster-img" />
      </div>
      <div class="content">
        <div class="title-rating">
          <div class="title-container">
            <div class="title">
              <h1 id="movie-name"></h1>
              <div class="rating">
                <b id="movie-rating" class="rating-text"></b
                ><img
                  src="./assets/honey.png"
                  alt="star-icon"
                  class="star-icon"
                />
              </div>
            </div>
            <ul class="mini-stats">
              <li id="movie-release"></li>
              <li>|</li>
              <li id="movie-runtime"></li>
              <li>|</li>
              <li id="movie-restriction"></li>
            </ul>
          </div>
        </div>
        <div id="overview" class="description"></div>
        <div class="short-details">
          <div class="template">
            <div class="starring">Starring</div>
            <div class="created-by">Created by</div>
            <div class="genre">Genre</div>
          </div>
          <div class="info">
            <div class="starring-info">
              Vin Diesel, Tyrese Gibson, John Cena, Jason Statham
            </div>
            <div class="created-by-info">Louis Leterrier</div>
            <div id="genres" class="genre-info"></div>
          </div>
        </div>
        <h3>Related Movies</h3>
        <div class="related-movies">
          <div class="movie">
            <img
              src="https://m.media-amazon.com/images/M/MV5BNzZmOTU1ZTEtYzVhNi00NzQxLWI5ZjAtNWNhNjEwY2E3YmZjXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_FMjpg_UX1000_.jpg"
              alt="poster-img"
              class="related-img"
            />
          </div>
          <div class="movie">
            <img
              src="https://m.media-amazon.com/images/M/MV5BNzZmOTU1ZTEtYzVhNi00NzQxLWI5ZjAtNWNhNjEwY2E3YmZjXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_FMjpg_UX1000_.jpg"
              alt="poster-img"
              class="related-img"
            />
          </div>
          <div class="movie">
            <img
              src="https://m.media-amazon.com/images/M/MV5BNzZmOTU1ZTEtYzVhNi00NzQxLWI5ZjAtNWNhNjEwY2E3YmZjXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_FMjpg_UX1000_.jpg"
              alt="poster-img"
              class="related-img"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="./scripts/movie.js" type="module"></script>
  </body>
</html>
