<!DOCTYPE html<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/style.css" rel="stylesheet" />
    <link href="./styles/movie.css" rel="stylesheet" />
    <title id="movie-title"></title>
  </head>
  <body>
    <nav-bar></nav-bar>

    <div class="content-container">
      <div class="poster">
        <img id="poster" alt="poster-img" class="poster-img" />
        <bee-button text="Export data" class="export"></bee-button>
      </div>
      <div class="content">
        <div class="header-container">
          <div class="title-rating">
            <h1 id="movie-name"></h1>
            <div class="rating">
              <b id="movie-rating" class="rating-text"></b
              ><img src="./assets/honey.png" alt="star-icon" class="star-icon" />
            </div>
          </div>
          <div class="movie-info">
            <ul class="mini-stats">
              <li id="movie-release"></li>
              <li>|</li>
              <li id="movie-runtime"></li>
              <li>|</li>
              <li id="movie-restriction"></li>
            </ul>
          </div>
        </div>
        <div id="overview" class="description"></div>
        <div id="details" class="short-details">
          <div class="info">
            <span class="text-label">Genres</span>
            <div id="genres" class="boxes"></div>
          </div>
          <div class="info">
            <span class="text-label">Starring</span>
            <div id="actors" class="boxes"></div>
          </div>
          <div class="info">
            <span class="text-label">Director</span>
            <div id="director" class="boxes"></div>
          </div>
          <div class="info">
            <span class="text-label">Production</span>
            <div id="production" class="boxes"></div>
          </div>
        </div>
        <div id="trailer" class="trailer"></div>
        <div id="related-movies" class="related-movies"></div>
      </div>
    </div>
    <script src="./scripts/movie.js" type="module"></script>
  </body>
</html>
