<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/style.css" rel="stylesheet" />
    <link href="./styles/movie.css" rel="stylesheet" />
    <title id="movie-title"></title>
  </head>
  <body>
    <nav-bar></nav-bar>

    <bee-modal id="list-modal">
      <div class="list-modal">
        <h2 style="margin-bottom: 10px">add to list</h2>
        <div id="movie-lists"></div>
        <button id="list-cancel-btn">cancel</button>
      </div>
    </bee-modal>

    <div class="content-container">
      <div class="poster-wrapper">
        <img id="poster" alt="poster-img" class="poster-img" />
        <bee-button id="export-btn">
          <span>export data</span>
        </bee-button>

        <bee-button id="list-add-btn">
          <span>add to list</span>
        </bee-button>
      </div>
      <div class="content">
        <div class="header-container">
          <div class="title-rating">
            <h1 id="movie-name"></h1>
            <div class="rating">
              <b id="movie-rating" class="rating-text"></b
              ><img src="./assets/honey.png" alt="star-icon" class="star-icon" />
            </div>
          </div>
          <div class="movie-info">
            <ul class="mini-stats">
              <li id="movie-release"></li>
              <li id="movie-runtime"></li>
              <li id="movie-restriction"></li>
            </ul>
          </div>
        </div>
        <div id="tagline"></div>
        <div id="overview" class="description"></div>
        <div id="details" class="short-details">
          <div class="info">
            <span class="text-label">Genres</span>
            <div id="genres" class="boxes"></div>
          </div>
          <div class="info">
            <span class="text-label">Starring</span>
            <div id="actors" class="boxes"></div>
          </div>
          <div class="info">
            <span class="text-label">Director</span>
            <div id="director" class="boxes"></div>
          </div>
          <div class="info">
            <span class="text-label">Production</span>
            <div id="production" class="boxes"></div>
          </div>
        </div>
        <div id="trailer" class="trailer"></div>
        <div id="related-movies" class="related-movies"></div>
      </div>
    </div>
    <script src="./scripts/movie.js" type="module"></script>
  </body>
</html>
