<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/style.css" rel="stylesheet" />
    <link href="./styles/profile.css" rel="stylesheet" />
    <title>Profile</title>
  </head>
  <body>
    <div class="main-container">
      <div id="username" class="username"></div>
      <nav-bar></nav-bar>
      <div class="title">
        <h2>Your Watchlists</h2>
      </div>
      <div id="lists" class="lists"></div>
    </div>
    <script type="module" src="./scripts/profile.js"></script>
  </body>
</html>
