<!DOCTYPE html>
<html>
  <head>
    <title>stabeestics | login</title>
    <link rel="stylesheet" href="./styles/signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
  </head>

  <body>
    <div class="background"></div>
    <div class="wrapper">
      <div class="login-box">
        <h1>Sign up</h1>
        <div>
          <form class="info" action="submit">
            <label>Username</label>
            <input
              type="text"
              name="user"
              id="user"
              placeholder="Type your username"
            />
            <label>Email</label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Type your email"
            />
            <label>Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Type your password"
            />
            <label>Confirm password</label>
            <input
              type="password"
              name="cpassword"
              id="cpassword"
              placeholder="Type your password"
            />
            <button
              type="button"
              id="login-button"
              onclick="location.href='search.html';"
            >
              SIGN UP
            </button>
          </form>
        </div>
        <a id="sign-up" href="login.html">Already have an account? Log in</a>
      </div>
    </div>
  </body>
</html>
