/* todo: fix input scaling */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#search-bar {
  box-sizing: border-box;
  margin: 30px 20px;
  width: 100%;
  padding: 14px 20px 12px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-image: url("./assets/beesearch.png");
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  background-color: black;
  border: 2px solid #ffc107;
  border-radius: 10px;
  outline: none;
  color: #ffc107;
  transition: 0.2s ease all;
}

#search-bar::placeholder {
  color: #999;
}

#search-bar:focus {
  background-color: #101010;
}

.search-icon {
  width: 70px;
  height: auto;
  transition: 0.3s ease all;
  cursor: pointer;
}

.search-icon:hover {
  transform: scale(1.2) rotate(-15deg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(160px, 100%/5)), 1fr));
  gap: 40px;
  justify-content: space-between;
  padding: 0px 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    column-gap: 20px;
  }

}

.box {
  margin: 0px auto;
  font-size: 1rem;
  color: white;

  max-width: 100%;
  aspect-ratio: 1 / 1;
  min-height: auto;
  cursor: pointer;

  position: relative;
}

.bg-img {
  width: 100%;
  border-radius: 10px;
}

.movie-desc {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  opacity: 0;
  transition: 0.3s ease all;
  backdrop-filter: blur(3px) brightness(0.6);
}

.movie-desc:hover {
  opacity: 1;
}

.result-img {
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.result-img:hover {
  transform: scale(1.02);
}

.event:hover img {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94fff9;
}

