/* todo: fix input scaling */
*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

#search-bar {
  box-sizing: border-box;
  margin: 30px 20px;
  width: 100%;
  padding: 14px 20px 12px 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-image: url('./assets/beesearch.png');
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  background-color: black;
  border: 2px solid #FFC107;
  border-radius: 10px;
  outline: none;
  color: #FFC107;
  transition: 0.2s ease all;
}

#search-bar::placeholder {
  color: #999;
}

#search-bar:focus {
  background-color: #101010;
}

.search-icon {
  width: 70px;
  height: auto;
  transition: 0.3s ease all;
  cursor: pointer;
}

.search-icon:hover {
  transform: scale(1.2) rotate(-15deg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(160px, 100%/5)), 1fr));
  column-gap: 40px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .container {
    column-gap: 20px;
  }
}

.box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-bottom: 40px;
  font-size: 1rem;
  color: white;
}

.result-img {
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.result-img:hover{
  transform: scale(1.02);
}

.event:hover img {
  transform: scale(1);
}

.result-title {
  margin: 10px 0px;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFC107; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94FFF9; 
}