/* todo: fix input scaling */
#search-bar {
  box-sizing: border-box;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-image: url("./assets/beesearch.png");
  font-size: 1.2em;
  padding: 14px 20px 12px 20px;
  border-bottom: 1px solid #ddd;
  background-color: black;
  border: 2px solid #ffc107;
  border-radius: 10px;
  outline: none;
  color: #ffc107;
  transition: 0.2s ease all;
  width: 100%;
}

#search-bar::placeholder {
  color: #999;
}

#search-bar:focus {
  background-color: #101010;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  width: 750px;
}

.error {
  font-size: 64px;
  background: -webkit-linear-gradient(rgb(233, 176, 20), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-icon {
  margin-left: -10px;
  width: 60px;
  height: auto;
  transition: 0.3s ease all;
  cursor: pointer;
}

.search-icon:hover {
  transform: scale(1.3) rotate(-15deg);
}
.title {
  color: white;
  font-size: 5em;
}
.bee-text {
  color: #ffc107;
}

